.corps{
	font-family: 'Catamaran', sans-serif;
	color: white;
	/*background-image: url(../image/5.JPG);*/
	background-repeat: no-repeat;
	background-size: 100% 120%;
	
	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}


/*fin entete*/
.mdd {
	color: white;
}
.modif {
	padding-left: 100px;
	font-size: 16px;
	font-weight: bold;
	/*border: 1px solid white;*/
}

.form1 p {
	text-align: center;
}
.fond2 {
	background-color: blue;
}
.nom {
	margin-top: 35px;

}
.imge {
	width: 90px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid gray;
}
.imge1 {
	width: 250px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid gray;
}
.fond1 {

	background-color: #4158D0;
	background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
li a span {
	color: white;
}
.connet {
	margin-top: 10px;
} 
.but1 {
	margin-left: 25px;
}
.form1{
	margin-top: 75px;
	/*border:2px solid black;*/
	background-color: black;
	/*border-top-left-radius: 50%;*/
	/*border-bottom-left-radius: 50%;*/
	/*height: 600px;*/
	opacity: 0.7;
	margin-bottom: 75px;
}
.form5{
	margin-top: 50px;
	/*border:2px solid black;*/
	background-color: black;
	/*border-top-left-radius: 50%;*/
	/*border-bottom-left-radius: 50%;*/
	/*height: 450px;*/
	opacity: 0.7;
	margin-bottom: 100px;
}
.form6{
	margin-top: 50px;
	/*border:2px solid black;*/
	background-color: black;
	/*border-top-left-radius: 50%;*/
	/*border-bottom-left-radius: 50%;*/
	height: 550px;
	opacity: 0.7;
	margin-bottom: 100px;
}
.form4 {
	margin-bottom: 50px;
}
.form2{
	margin-top: 50px;
}
.form3{
	margin-top: 50px;
	/*height: 400px;*/
}
.rad{
	margin-left: 230px!important;
}
h3{
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
}
.inpt1, .inpt2, .inpt3, .inpt4, .inpt5{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color:transparent!important;
	/*border-top: hidden!important;

	border-left: hidden!important;

	border-right: hidden!important; */
}

.inpt7{

	background-color: transparent;
}
.sel1, .sel2{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color: transparent;
}
.btn{
	background:rgb(119 84 201) ;
	outline: none;
	border:none;
	cursor: pointer;
	border-radius: 20px;
	position: relative;
	/*box-shadow: 0 6px ;*/
}
/*.btn:active{
	box-shadow: 0 0 rgb(119 84 201);
	top:6px;
}*/

#im{
	margin-top: 10px; 
	margin-bottom: 10px;
	height: 120px; 
	width: 120px; 
	border-radius: 50px;
}

table{
	color: black!important;
}


@media screen and (min-width: 0px) and (max-width: 767px) {
	.id {
		display: none;
	}
	.profil {
		display: none;
	}
	.form7 {
		margin-top: -10px;
	}
	.modif {
	padding-left: 40px;
	font-size: 16px;
	font-weight: bold;
	/*border: 1px solid white;*/
	}
	.mform {
		margin-left: 100px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
	.id {
		display: none;
	}
	.profil {
		display: none;
	}
	.modif {
	padding-left: 40px;
	font-size: 16px;
	font-weight: bold;
	}
	.mform {
		margin-left: 200px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
	.modif {
	/*padding-left: 40px;*/
	font-size: 16px;
	font-weight: bold;
}
